/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body {
  background: rgb(248, 231, 210);
}






/******************************************
/* LAYOUT
/*******************************************/





/******************************************
/* ADDITIONAL STYLES
/*******************************************/

span {
  border: solid 2px black;
  border-radius: 10px;
  margin: 8px;
  padding: 5px;
  background-color: white;
  font-family: 'Roboto Flex', sans-serif;
}

.method {
  width: 10%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
}

.treat {
  display: flex;
  flex-direction: column;
  width: 50px;
}

.treat img {
  border: solid black 3px;
  border-radius: 10px;
  background: white;
  margin-top: 5px;
}

h2, h1 {
  text-align: center;
  font-family: 'Pacifico', cursive;
}

h1 {
  font-size: 60px;
}

.treat .targeted, .targeted {
  background: rgb(9, 140, 247);
}

div {
  display: flex;
  justify-content: center;
}

.treatContain {
  display: flex;
  justify-content: flex-end;
  margin-right: 30%;
}

.methodContain {
  display: flex;
  justify-content: flex-start;
  margin-left: 30%;
  margin-top: -495px;
}

button {
  font-size: 30px;
  background: rgb(255, 255, 255);
  font-family: 'Pacifico', cursive;
  padding: 10px;
  border-radius: 20px;
}

.hidden {
  display: none;
}

.hrHide {
  visibility: hidden;
}

/* Phone Size here */

@media only screen and (max-width: 800px) {
  main img {
    width: 50%;
  }

  .treat {
    display: flex;
    flex-direction: row;
    width: 50px;
  }

  .method {
    width: 10%;
    display: flex;
    text-align: center;
    flex-direction: row;
    width: 75%;
    flex-wrap: wrap;
  }

  .treatContain {
    display: flex;
    justify-content: center;
    margin-right: 50%;
  }
  
  .methodContain {
    display: flex;
    justify-content: left;
    margin: 0;
    margin-left: 100px;
    
    
  }

  span {
    border: solid 2px black;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
    background-color: white;
    
  }

  .hrHide {
    visibility: visible;
    width: 50%;

  }
}